{% load staticfiles %}
<!DOCTYPE html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/rollups/aes.js' %}"></script>
    <script src="{% static 'js/components/enc-base64-min.js' %}"></script>
    <script src="{% static 'js/components/mode-ecb.js' %}"></script>
    <script src="{% static 'js/components/pad-nopadding.js' %}"></script>
    <script src="{% static 'js/clips.js' %}"></script>
</head>
<body>
    
</body>

